@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    line-height: inherit;
    font-family: "DM Sans", sans-serif;
  }

  html {
    line-height: 100%;
  }
}

@layer components {
  #main {
    @apply mx-auto;
    max-width: 90rem;
    min-height: 120vh;
    overflow: hidden;
  }

  .container {
    @apply mx-auto;
    max-width: 94%;
  }

  @media screen(sm) {
    .container {
      max-width: 19.375rem;
    }
  }

  @media screen(md) {
    .container {
      max-width: 43.0625rem;
    }
  }

  @media screen(lg) {
    .container {
      max-width: 69.375rem;
    }
  }
}

@layer components {
  .heading-xl {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
  }

  .paragraph-md {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }

  .text-nav {
    @apply hover:opacity-30;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }

  @media screen(md) {
    .heading-xl {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.16667px;
    }

    .text-nav {
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 2px;
    }
  }

  @media screen(lg) {
  }
}

@layer components {
  .primary-button {
    @apply grid place-items-center bg-neutral-950 text-surface w-full;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    padding: 0.875rem 0px;
    letter-spacing: 2.5px;
    cursor: pointer;
    text-transform: uppercase;
  }

  @media screen(md) {
    .primary-button {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}
