@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    line-height: inherit;
    font-family: "DM Sans", sans-serif;
  }

  html {
    line-height: 100%;
  }
}

@layer components {
  #main {
    @apply mx-auto;
    max-width: 90rem;
  }

  .container {
    @apply mx-auto;
    max-width: 94%;
  }

  @media screen(sm) {
    .container {
      max-width: 19.375rem;
    }
  }

  @media screen(md) {
    .container {
      max-width: 43.0625rem;
    }
  }

  @media screen(lg) {
    .container {
      max-width: 69.375rem;
    }
  }
}

@layer components {
  .heading-xl {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
  }

  .body-md {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }

  @media screen(md) {
    .heading-xl {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.16667px;
    }
  }

  @media screen(lg) {
  }
}
